@media only screen and (min-width: 35rem) {
    main {
        max-width: 940px;
        margin: 0 auto;
    }

    nav .menu {
        display: inline;
    }

    .cards-locals {
        grid-template-columns: 1fr 1fr;
        grid-gap: .75rem;
    }

    .cards-locals h2,
    .weather h2 {
        grid-column: span 2;
    }

    .weather {
        grid-template-columns: 2fr 3fr;
        grid-gap: .75rem;
    }
   
}

@media only screen and (min-width: 840px) {
    .upcoming-events section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }
}